*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --background-color-old: rgb(2,0,36); 
    --main-window-background: rgba(128, 0, 128, 0.5);
    --account-panel-background: rgba(31, 173, 192, 0.4);

    --white: #fff;
    --black: #000;

    --logo-color: rgba(128, 0, 128, 1);
    --logo-head-body-color: #000;
}

html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.app{
    height: 100%;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color-old);
    background: var(--background-color);
}

.main-window{
    max-width: 1300px;
    height: 100%;
    width: 100%;
    background-color: var(--main-window-background);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.account-panel{
    max-width: 240px;
    height: 100%;
    width: 100%;
    background-color: var(--account-panel-background);
    position: relative;
    transition: all 500ms ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account-logo{
    width: 100px;
    height: 100px;
}

.logo-big-circle{
    display: block;
    width: 100%;
    height: 100%;
    /* border: 10px solid black; */
    border-radius: 50%;
    background-color: var(--logo-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-head{
    display: block;
    min-height: 36px;
    width: 36px;
    background-color: var(--logo-head-body-color);
    border-radius: 50%;
    margin-top: 20px;
}

.logo-body{
    display: block;
    min-height: 70px;
    width: 90px;
    background-color: var(--logo-head-body-color);
    border-radius: 50%;
    margin-top: 4px;
}

.logo-panel{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 30px; */
    /* border-bottom: 1px solid gray; */
}

.user-name{
    padding: 20px;
    font-size: 20px;
}

.hr{
    display: block;
    height: 1px;
    width: 80%;
    background-color: gray;
    /* margin: 30px 0; */
}

.logo-svg{
    height: 24px;
    width: 24px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
}

.logo-svg svg{
    display: block;
    height: 100%;
    width: 100%;
    fill: rgba(160, 177, 180, 0.700);
}

.logo-bar{
    display: flex;
    /* position: absolute; */
    align-items: center;
    height: 50px;
    width: 240px;
    padding-left: 20px; 
    cursor: pointer;
}

.logo-bar:hover{
    background-color:rgba(31, 173, 192, 0.1);
}

.logo-text{
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    color: rgba(160, 177, 180, 0.700);
    text-transform: uppercase;
}

/* .menu-bar{
    top: 20px;
    left: 20px;
}    */

.menu-logo{
    height: 22px;
}

.account-panel.closed{
    /* transform-origin: center left; */
    max-width: 66px;
    transition: all 500ms ease;
}

.menu-text-panel{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--account-panel-background);
    /* transform: translateX(0);  */
    transition: all 500ms ease;
    overflow: hidden;
}

.menu-text-panel p{
    padding: 20px 30px 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-text-panel p:hover{
    background-color:rgba(31, 173, 192, 0.1);
}

.menu-text-panel.closed{
    transform: translateX(-101%);
    transition: all 500ms ease;
}

.text-menu-box{
    overflow: hidden;
    height: 100%;
}


















@media screen and (max-width: 600px) {
    .app{
        padding: 0;
    }
    .main-window{
        border-radius: 0;
    }
}

